name: First workflow

on: 
  push:
    branches: 
      - main

jobs:
  example-job:
    runs-on: ubuntu-latest

    steps:
      - name: Print a welcome message
        run: echo "Welcome to our first Github Actions Workflow!"

      - name: Checkout repositry
        uses: actions/checkout@v6.0.0

      - name: List repository files
        run: ls -la
